.navbar {
    display: flex;
    justify-content: space-between;
    background: white;
    padding: 15px 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.logo {
    font-weight: bold;
    font-size: 20px;
    margin-right: 30px;
}

.search {
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.menu {
    display: flex;
    list-style: none;
    gap: 20px;
}

.menu a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.profile {
    display: flex;
    gap: 15px;
}

.logout {
    color: red;
}