<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Velkommen til OsloStudent</title>
    <link rel="stylesheet" href="../../static/CSS/style.css">
</head>

<body>

    <h1>Velkommen til OsloStudent</h1>

    <form action="/login" method="post">
        <label>E-post</label>
        <input type="email" name="email" placeholder="ditt.skole.e-post@osloskolen.no" required>


        <label>Passord</label>
        <input type="password" name="password" placeholder="••••••••" required>

        <button type="submit"><a href="/">Logg inn</a></button>
        <button><a href="/register">Register</a></button>
    </form>

</body>

</html>