<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrer en konto i OsloStudent</title>
</head>
<body>
    
    <h1>Registrer en konto i OsloStudent</h1>

    <form action="/register" method="post">
        <label>Fornavn</label>
        <input type="text" name="first_name" placeholder="Ditt fornavn" required>

        <label>Etternavn</label>
        <input type="text" name="last_name" placeholder="Ditt etternavn" required>

        <label>E-post</label>
        <input type="email" name="email" placeholder="ditt.skole.e-post@osloskolen.no" required>

        <label>Passord</label>
        <input type="password" name="password" placeholder="Password" required>
        <input type="password" name="comfirm-password" placeholder="Comfirm password" required>

        <label>Fødselsdato</label>
        <input type="date" name="birthday" required>

        <button type="submit"><a href="/">Registrer</a></button>
    </form>

</body>
</html>